
<form>
    <label>Name: </label>
    <input type="text">
    <br>
    <br>
    <label>Username: </label>
    <input type="text">
    <br>
    <br>
    <label>Password: </label>
    <input type="password">
    <br>
    <br>
    <label>Age: </label>
    <input type="number">
    <br>
    <br>
    <label>City: </label>
    <select>
        <option>Tehran</option>
        <option>Esfahan Latani</option>
        <option>Shiraz</option>
        <option>Gazvin</option>
        <option>Shahrestan</option>
    </select>
    <br>
    <br>
    <label>Skills: </label>
    <input type="text" placeholder="Separate with comma like: dance, paiting">
    <br>
    <br>
    <label>Is Verified: </label>
    <input type="checkbox">
    <br>
    <br>
    <button type="reset">Reset Form</button>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>